{% extends "layout.html" %}

{% block content %}

	<h1>Homepage</h1>
	<p>Welcome to Massive Volunteering. New here? <a href="/register">Register here</a>. Alternatively, you can <a href="/login">login</a> here.<p>
	<h2>Current Opportunities</h2>

	{% for experience in experiences %}
		<h1></h1>
		<h2></h2>
		<p></p>
		<p></p>


	<div class="card">
	  <div class="card-body">
	    <h5 class="card-title">{{ experience.title }}</h5>
	    <h6 class="card-subtitle mb-2 text-muted">Signup for this opportunity ends {{ experience.date_expiry }}</h6>
	    <p class="card-text">{{ experience.content }}</p>
	    <a href="#" class="card-link">Go to this opporunity</a>
	    <a href="#" class="card-link">Set a reminder</a>
	  </div>
	</div>

	{% endfor %}

{% endblock content %}