{% extends "layout.html" %}

{% block content %}

	<h1>About</h1>
	
	<p>Massive Volunteering is a student-run organization that works to connect students with organizations. It currently operates out of McNally High School.</p>

	<p>Originally known as M.A.S.S.I.V.E, “McNally Assists Students Serving In Volunteer Experiences,” MASSIVE Volunteering is a student-founded club that seeks to connect organizations in Edmonton, Alberta and surrounding area to the youth of our city. Currently, our focus resides in connecting high school students with various events, fundraisers, and initiatives throughout the year. We are looking to collaborate with the City of Edmonton and Edmonton Public School Board (EPSB) on expanding our reach.</p>

	<p>At MASSIVE, we have one goal that we strive to achieve on a daily basis: mass involvement equals mass impact. We know that many hands make light work, and we seeks to make the process of finding volunteers seamless. We achieve this through a monthly newsletter, which you can sign up for the front page of our website here, monthly meetings, and constant updates through our various social media channels, along with the volunteering hub on our website.

	<p>Currently, the club is managed by Michael DeMarco (President) and Daniel Zamoyski (Vice-President). Be sure to follow us on <a href="https://www.instagram.com/massivevolunteering/" target="_blank">Instagram</a> and <a href="https://twitter.com/msvevolunteer" target="_blank">Twitter</a> to stay up to date on all things MASSIVE.</p>

{% endblock content %}