{% extends "layout.html" %}
{% block content %}
	<article class="media content-section">
		<div class="media-body">
			<div class="article-metadasta">
				<a class="mr-2" href="{{ url_for('user_posts', org_name=experience.organization.org_name) }}">Presented by {{ experience.org }}</a><br>
				<small class="text-muted">Signup for this opportunity ends {{ experience.date_expiry.strftime('%Y-%m-%d') }}</small>
				{% if experience.organization == current_user %}
					<div>
						<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', exp_id=experience.id) }}">Update</a>
						<button type="button" class="btn btn-danger btn-sm mt-1 mb-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
					</div>
				{% endif %}
			</div>
				<h2 class="article-title">{{ experience.name }}</h2>
				<p class="article-content">{{ experience.content }}</p>
				<a href="#" class="link">Go to this opporunity</a>
				<a href="#" class="link">Set a reminder</a>
			</div>
	</article>

	<!-- Modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	          </button>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	          <form action="{{ url_for('delete_post', exp_id=experience.id) }}" method="POST">
	            <input class="btn btn-danger" type="submit" value="Delete">
	          </form>
	        </div>
	      </div>
	    </div>
	</div>

{% endblock content %}