{% extends "layout.html" %}

{% block content %}

	<h1>{{ organization.org_name }}</h1>

	<h2>Current Opportunities available from {{ organization.org_name }} ({{ experiences.total }})</h2>

	{% for experience in experiences.items %}
	<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + experience.organization.image_file ) }}">
		<div class="media-body">
			<div class="article-metadasta">
				<a class="mr-2" href="{{ url_for('user_posts', org_name=experience.organization.org_name) }}">Presented by {{ experience.organization.org_name }}</a><br>
				<small class="text-muted">Signup for this opportunity ends {{ experience.date_expiry.strftime('%Y-%m-%d') }}</small>
				<h2><a class="article-title" href="{{ url_for('post', exp_id=experience.id) }}">{{ experience.name }}</a></h2>
				<p class="article-content">{{ experience.content }}</p>
				<a href="#" class="link">Go to this opporunity</a>
				<a href="#" class="link">Set a reminder</a>
			</div>
		</div>
	</article>
	{% endfor %}

	<div>
	{% for page_num in experiences.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if experiences.page == page_num %}
				<a class="btn btn-info mb-4" href="{{ url_for('user_posts', org_name = organization.org_name, page=page_num) }}">{{ page_num }}</a>
			{% else %}
				<a class="btn btn-outline-info mb-4" href="{{ url_for('user_posts', org_name = organization.org_name, page=page_num) }}">{{ page_num }}</a>
			{% endif %}
		{% else %}
			...
		{% endif %}
	{% endfor %}
	</div>

{% endblock content %}